body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  
}

/* .botContainer{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.botCard{
  padding: 10px;
  margin: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
}
.bot-army{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.bot-army-card{
  padding: 10px;
  margin: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
} */

.column{
   border-radius: 8px;
   border: 1px solid #ddd;
   background-color: aqua;
   padding: 5px;
   width: 100px;
   height: px;
   display: flex;
   

}

/* .botCollection{
  width: 400px;
} */